<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MKpost</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
</head>
<body>
    <div id = "navbar"class="ui menu">


      <br>
      <% if @user %>
      <a href="/" class="item">Home</a>
      <a href="/timeline" class="item">View Timeline</a>
      <div class="logo2">
        <center><p class = "MK2">
        <strong>MK<p class = "post2">POST</p></strong></p>
        </center>
      </div>
      <div class="right menu">
        <h1 class="name"> HI <%= @user.user_name %></h1>
        <a href="/logout" class="item">Logout</a>
        <a href="/delete/account" class="item">Delete Account</a>
      </div>

      <% else %>
        <a href="/login" class="item">
          Login
        </a>
        <a href="/signup" class="item">
          Sign Up
        </a>
        <div class="logo2">
          <center><p class = "MK2">
          <strong>MK<p class = "post2">POST</p></strong></p>
          </center>
        </div>
      <% end %>
      <br>
      <br>
    </div>


  <%= yield %>


  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>
