<div class="logo">
  <center><p class = "MK">
  <strong>MK<p class = "post">POST</p></strong></p>
  </center>
</div>
<br><br>
<div class="div">

  <form class="ui form" method="POST" action="/users/login">
    <h2>LOGIN</h2>
    <div class="two fields">
      <div class="field">
        <label>User Name</label>
        <input required type="text" name="user">
      </div>

      <div class="field">
        <label>Password</label>
        <input required type="password" name="password">
      </div>
    </div>

    <button class="ui button" type="submit">Login</button>
  </form>
</div>
